<h2><span style="font-weight: bold">Before you make an appeal please consider the following:</span></h2>
<br />
<ul class="list">
<li>If you were cheating or have cheated in the past; </li>
<li>If you share or have shared your account with anybody else (you personally may not have cheated but you can&#x2019;t speak for anyone else who used your account);</li>
<li>If you share a computer with other people and cheats are detected which results in your account getting banned (you are responsible for ensuring your gaming pc remains clean and secure);</li>
<li>If any of the soldiers on your account have existing bans with GGC or PBBans (we ban the entire account based on existing bans), you will need to successfully appeal any ban with them before appealing here;</li>
<br />
<span style="text-decoration: underline; font-weight: bold">Please save both your and our time and don&#x2019;t bother appealing.</span>
</ul>
<br />
<br />
<h3><span style="font-weight: bold;">The following appeal messages / excuses will not help you get your account unbanned</span></h3>
<br />
<ul class="list">
<li>Why am I banned? Please unban me!</li>
<li>It wasn't me! It was my brother, sister, friend..... </li>
<li>I just wanted to see how it works, for testing etc.</li>
<li>I wanted to see if my server anti cheat protection was working correctly.</li>
<li>I just got tired of getting owned by cheaters, so I wanted to give some payback.</li>
<li>I lost my account and just wanted to level up as soon as possible on the new one.</li>
<li>I just bought/traded this account and it's banned!? Please unban the account.</li>
<li>I got hacked, someone stole my account now I have it back, please unban me.  </li>
<li>Begging for a second chance. </li>
<li>Promising that you won't do it again. If you&#x2019;ve admitted it at any point, that&#x2019;s it, your appeal will just be denied.</li>
<li>I put hundreds of pounds/euros/dollars in to this game! </li>
</ul>
<br />
<h3>Additional to the above:</h3>
<ul class="list">
<li>It doesn't matter how much money you put into your account, you're responsible for it. If its precious to you, don't do anything to jepordize it.</li>
<li>'GGC/PBBans haven't banned me' is also not a valid reason, since that is exactly what the Blacklist is for.</li>
<li>Any appeal containing bad language, threats or general ranting will be denied. An appeal should be made in a calm, reasoned manner detailing any evidence you may think help your case./li>
</ul>
<br />
<h3><span style="text-decoration: underline">In conclusion:</span></h3>
Yes, you do have the ability to appeal, since errors can happen. Nonetheless this doesn't mean that every ban we issue is a mistake and it is possible to appeal. 
<br/><br/>
If you think Statspadding or Glitching is not 'that big of a deal', you're welcome to discuss that with every single server owner that <u>chooses</u> to inherit those specific ban lists.
<br/><br/>
You are more than welcome to post information in the forum if you wish to discuss your ban/appeal in more detail, however please do so with a mature and calm attitude. Any posts containing ranting, raging or a bad attitude will just be closed and in some scenarios result in a forum account / IP ban.
<br/><br/>
You may be requested to provide certain information such as punkbuster log files or system information files.
